@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");
/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1c7690;
  --primary-dark-1: #012c3d;
  --primary-dark-2: #022539;
  --primary-light-1: #78bdc4;
  --primary-light-2: #a5d9d5;
}
